
name: Deploy AWS Infrastructure (CDK)

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write       # required for OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: CDK_DEFAULT_ACCOUNT

    # CDK uses these to resolve account/region automatically
    env:
      AWS_ACCOUNT: ${{ secrets.AWS_ACCOUNT }}
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      REGION: ap-south-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js (no cache, since lock files may be absent)
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # ✅ Call build.sh from repo root (installs infra + service)
      - name: Build (infra + service)
        run: bash ./build.sh


      - name: Show resolved env (token value will be masked)
        run: |
          echo "Region: $REGION"
          echo "Account: $AWS_ACCOUNT"


      - name: Configure  AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::137345587738:role/GitHubCdkDeploy
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY }}
          aws-region: ${{ env.REGION }}

      - name: Export CDK defaults
        run: |
          ACCOUNT=$(aws sts get-caller-identity --query Account --output text)
          echo "CDK_DEFAULT_ACCOUNT=$ACCOUNT" >> "$GITHUB_ENV"
          echo "CDK_DEFAULT_REGION=${{ env.REGION }}" >> "$GITHUB_ENV"


      - name: CDK Bootstrap (only if needed)
        working-directory: infra
        run: |
          if aws cloudformation describe-stacks --stack-name CDKToolkit >/dev/null 2>&1; then
            echo "CDK already bootstrapped in ${REGION} for this account."
          else
            echo "Bootstrapping CDK in ${REGION}..."
            npx c      npx cdk bootstrap aws://137345587738/ap-south-1

      - name: Deploy IAM Stack
        run: npx cdk deploy IamStack --require-approval never
        working-directory: infra
        
      # ✅ Deploy both Lambda and Dynamo stacks (single step or separate steps)
      - name: Deploy Lambda & Dynamo
        run: npx cdk deploy FunctionStack DynamoStack --require-approval never
        working-directory: infra
